
body {
  padding-top: 100px;
}

svg {
  margin-top: 20px;
  margin-left: -25%;
  position: relative;
  left: 50%;
  width: 800px;
  /* background: #efefef; */
  height: 294px;
  /* @see http://lea.verou.me/css3patterns/#lined-paper */
  background-color: #fff;
  background-image:
  linear-gradient(90deg, transparent 90px, #abced4 98px, #abced4 100px, transparent 100px),
  linear-gradient(#eee .1em, transparent .1em);
  background-size: 100% 42px;

}
line.separator {
  stroke: rgba(0, 0, 0, 0.5);
  stroke-width: 2px;
  pointer-events: none;
}
g.day {
  pointer-events: all;
}
rect.background {
  pointer-events: all;
  fill: none;
}
rect.cumulative {
  pointer-events: none;
  fill: rgba(255, 0, 0, 0.1);
}
circle.cumulative {
  pointer-events: none;
  stroke: rgba(255, 0, 0, 0.2);
  stroke-width: 2px;
  fill: none;
}
text.cumulative {
  visibility: hidden;
  fill: rgba(200, 200, 200, 0.7);
}
line.cumulative {
  stroke: rgba(100, 100, 100, 0.5);
  stroke-width: 2px;
}
rect.session {
  fill: #337AB7;
  cursor: col-resize;
}
.new-session {
  visibility: hidden;
}
rect.new-session {
  fill: rgba(255, 0, 0, 0.5);
}
line.new-session {
  stroke: white;
  stroke-width: 2px;
  pointer-events: none;
}
text.day, text.day-sum {
  cursor: default;
  pointer-events: none;
}
text.day-sum {
  fill: rgba(200, 200, 200, 0.7);
  visibility: hidden;
}
.week-label text {
  fill: #dfdfdf;
}
/* visual feedback */
rect.background:hover {
  fill: none;
}
g.day:hover text.cumulative {
  visibility: visible;
}
rect.session:hover {
  fill: blue;
}
g.day:hover .new-session {
  visibility: visible;
  cursor: pointer;
}
.dragging g.day:hover .new-session {
  visibility: hidden;
  cursor: default;
}
rect.new-session:hover {
  fill: red;
}
g.day:hover text.day-sum {
  visibility: visible;
}

.goalLine {
    visibility: visible;
    stroke: red;
    stroke-width: 5;
}

/* Activity info dialog */
#activityInfoView {
  position: absolute;
  float: left;
  visibility: hidden;
  /*width: 200px;*/
  padding: 0px 10px 2px 10px;
  z-index: 10;

  background-color: #eee;
  border: 2px solid #337AB7;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  box-shadow: 10px 10px 5px #888888;
  text-align: center;
}
#infoWrapper::after { /* triangle */
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 10px 10px;
  border-color: #eee transparent;
  display: block;
  width: 0;
  z-index: 1;
  margin-left: -10px;
  top: -10px;
  left: 50%;
}

#activityInfoView p {
  font-size: 120%;
  font-family: "Helvetica", sans-serif;
  margin-bottom: 2px;
  margin-top: 5px;
}
#durationInput {
  width: 125px;
  margin-bottom: 6px;
}
#activityTypeInput {
  width: 160px;
}
/*select, option {
  width: 180px;
  font-size: 200%;
}*/
/* unsuccesful attempt to fix jquery autocomplete behind dropdown */
/*.ui-autocomplete-input, .ui-menu, .ui-menu-item {
  z-index: 2006;
  position: relative;
}*/
#submitActivityInfoBtn {
  /*display: block;*/
  /*margin: 0 auto;*/
  margin-top: 5px;
  margin-bottom: 5px;
}

