<!DOCTYPE html>
<html lang="en" data-framework="marionettejs">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Tracktion</title>

	<!-- CSS -->
	<link href="libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/main.css" />

</head>
<body style="zoom: 1;">

  <!-- navbar -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Tracktion</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

  <!-- progress bar -->
  <div class="container">
    Bro, you are so progress
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"><span class="sr-only">60% Complete</span></div>
    </div>
  </div>

  <!-- sessions -->
  <div id="sessions">
    <ul id="sessionsList">
      <!-- The sessions will be inserted here -->
    </ul>

    <div id="totalMinutes">&nbsp;</div>
  </div>
  <div id="weeks"></div>

  <!-- templates -->
  <script type="text/template" id="weekTpl">
    <svg class="week">
      <g class="cumulative">
      <% _.each(reversedDays(), function(d, i) { %>
        <g transform="translate(100, <%= 30 * i + 15 %>)">
          <% if(i > 0) { %>
            <line class="cumulative" x1="<%= cumulative(d+1) %>" x2="<%= cumulative(d) %>" y1="-30" y2="0" />
          <% } else { %>
            <line class="cumulative" x1="<%= cumulative(d) %>" x2="<%= cumulative(d) %>" y1="-15" y2="0" />
          <% } %>
        </g>
      <% }) %>
      </g>
      <g class="goal" />
      <g class="days">
      <% _.each(reversedDays(), function(d, i) { %>
        <g transform="translate(0, <%= i * 30 %>)" class="day">
          <!-- background for row hover -->
          <rect class="background" height="30" width="800" />
          <g transform="translate(100, 0)" class="sessions">
            <!-- cumulative fill -->
            <rect class="cumulative" height="30" width="<%= cumulative(d) %>" />
            <circle class="cumulative" cy="15" cx="<%= cumulative(d) %>" r="5" />
            <!--
            <text class="cumulative" y="15" x="<%= cumulative(d) + 20 %>" dy=".35em"><%= cumulative(d) %></text>
            -->

            <!-- activity slots -->
            <% _.each(daySessions(d), function(session, j){ %>
                <rect class="session" height="29" width="<%= attr(session, 'duration') - 1 %>" x="<%= daySum(d, j) %>" data-day="<%= d %>" data-day-index="<%= j %>"  />
            <% }) %>
            <% if(emptyDay(d)){ %>
              <!-- lazy boy -->
            <% } %>
            <!-- new session button and sum text -->
            <g transform="translate(<%= daySum(d) %>, 0)">
              <rect class="new-session" height="29" width="29" data-day="<%= d %>" />
              <line class="new-session" x1="15" x2="15" y1="5" y2="25" />
              <line class="new-session" y1="15" y2="15" x1="5" x2="25" />
              <text x="49" y="15" dy=".35em" class="day-sum"><%= daySum(d) %></text>
            </g>
          </g>
          <text x="10" y="15" dy=".35em" class="day"><%= day(d).format("MMMM DD")%></text>
        </g>
      <% }) %>
      <line x1="100" x2="100" y1="0" y2="210" class="separator" />
      </g>
    </svg>
  </script>

  <!-- libraries -->
  <!-- <script src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script> -->
  <!-- <script src="libs/todomvc-common/base.js"></script> -->
  <script src="libs/jquery/jquery-1.11.2.min.js"></script>
  <script src="libs/bootstrap/js/bootstrap.min.js"></script>
  <script src="libs/underscore/underscore.js"></script>
  <script src="libs/backbone/backbone.js"></script>
  <script src="libs/backbone.localstorage/backbone.localStorage.js"></script>
  <script src="libs/backbone.marionette/lib/backbone.marionette.js"></script>
  <script src="libs/moment/moment.min.js"></script>

  <!-- custom JS -->
  <script type="text/javascript" src="js/model.js"></script>
</body>
</html>
